 *{
  margin: 0px;
 }
 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
  $brown: #59443F;
  $light-brown:#C3B9B5;
  $dark:#080606;
  $white:#FFFFFF;
  $orange:#FFC59E;

  body{
     font-family:'Open Sans', sans-serif; 
}
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 65px auto 130px;
    &__logo{
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width:80px;
      height:63px;
    }
    &__list {
      display: flex;
      list-style-type:none;
      padding-left: 0;
    }
    &__item {
      margin-left: 35px;
      margin-right: 35px;
    }
    &__link{
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: $light-brown;
      transition: .2s;
      &:hover{
        color:$orange;
      }
    }
    &__btn {
      background-color: transparent;
      border: none;
      font-weight: 700;
      font-size: 20px;
      color: $orange;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        background-image: url(../img/geo.svg);
        width: 20px;
        height: 29px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin-right: 19px;
      }
    }
  }
  .container{
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      color: $dark;
      margin-bottom: 50px;
    }
    &__link{
      background-color: $orange;
      box-shadow: 0px 4px 20px 0px $orange;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      color:  $white;
      text-transform: uppercase;
      text-decoration: none;
      padding: 24px 70px;
      border-radius: 33.5px;
    }
    &__social{
      margin-top: 200px;
    }
  }
  .social{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    &__item{
      margin-right: 50px;
      &:last-child{
        margin-right: 0;
      }
    }
    &__svg{
      fill:$light-brown;
    }
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top:150px;
    margin-bottom: 150px;
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;
      position: relative;
      border-radius: 20px;
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 24px;
    }
    &__title{
      color: $brown;
      font-size: 30px;
      margin: 0;
    }
    &__text{
      color: $brown;
      font-size: 20px;
      margin: 0;
    }
    &__svg{
      fill:$orange;
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }
  .counter{
    text-align: center;
    background: #FFFEFE;
    padding-top: 100px;
    padding-bottom: 273px;
    position: relative;
    &__title{
    color: $brown;
    font-weight:700;
    font-size: 144px;
    }
    &__text{
      color: $dark;
      font-size: 80px;
      font-weight: 400;
    }
    &__img{
      position: relative;
      right: -28%;
      top: -110px;
    }
  }
  .app{
    background-color: $orange;
    color: white;
    &__box{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 1.4;
    margin-top: 300px;
    margin-bottom: 30px;
  }
  &__login{
    position: relative;
  }
  &__doge{
    position: absolute;
    z-index: 1;
    max-width: 474.513px;
    bottom: 210px;
    left: -440px;
  }
  &__applog{
    position: relative;
    z-index: 2;
    width: 331px;
    height: 662px;
    background-color: rgb(255,254,254);
    bottom: -230px;
    left: -100px;
    border-radius: 45px;
  }
  &__reglink{
    margin-left: 75px;
    text-decoration: none;
    color: $orange;
  }
}
.download{
  display: flex;
  align-items: center;
  &__link{
    background-repeat: no-repeat;
    background-size: contain;
    width: 167px;
    height: 49px;
    display: block;
    margin-top: 45px;
    margin-bottom: 358px;
  }
  &__appstore{
    background-image:url(../img/apple.svg);
    margin-right: 28px;
  }
  &__googlestore{
    background-image:url(../img/google-play-badge.png);
  }
}
.log{
  position: relative;
  background-image: url(../img/logo.svg);
  width:80px;
  height:63px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 155px;
  left: 120px;
}
form {
  padding-top: 220px;
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  background-color: rgb(255,254,254);
}
fieldset{
  border: 0;
}
input{
  display: block;
  border-radius: 60px;
  border: none;
  color: #676665;
  background-color: #ede9e8;
  width: 200px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
input[type=submit]{
  background-color:$orange;
  color: #FFFBF9;
  width: 216px;
  height: 40px;
}